<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Data Gan</title>
    </head>
    <body>
        <h1>Daftar Mahasiswa</h1>
        <br />
        
        <table border='1'>
            <thead>
                <tr>
                    <th>NIM</th>
                    <th>NAMA</th>
                    <th>JURUSAN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mhs : ${datamhs}">
                    <td th:text="${mhs.nim}"></td>
                    <td th:text="${mhs.nama}"></td>
                    <td th:text="${mhs.jurusan}"></td>
                    <!-- format request /hapus?nim={mhs.nim} -->
                    <td><a th:href="@{/hapus(nim=${mhs.nim})}">Hapus</a></td>
                    <td><a th:href="@{/ubah(nim=${mhs.nim})}">Ubah</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><a href="/tambah.html">Tambah</a></td>
                </tr>
            </tfoot>
        </table>
    </body>
</html>
