<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">

<head>
  <title>Ubah Gan</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="jquery/jquery-3.2.1.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <style>
    .body{color: white;}
    .navbar{padding-top: 15px;
      padding-bottom: 15px;
    letter-spacing: 2px;}
  </style>
</head>

<body class="bg-primary">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand font-weight-bold" href="ubah.html">Ubah Data</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1 class="page-header text-center">Ubah Data</h1>
    <form class="form-horizontal" method="post" th:object="${mhs}" th:action="@{/ubah}">
      <div class="row">
        <div class="form-group">
          <label for="nim">NIM</label>
          <input type="text" class="form-control" id="nim" th:field="*{nim}" />
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="nama">NAMA</label>
          <input type="text" id="nama" class="form-control" th:field="*{nama}" />
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="jurusan">JURUSAN</label>
          <input type="text" id="jurusan" class="form-control" th:field="*{jurusan}" />
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <button class="btn btn-danger" type="submit">Simpan</button>
        </div>
      </div>
    </form>
  </div>
</body>

</html>
